/*<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">*/
html {
  font-size: 20px;
  /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: 'Roboto Condensed', sans-serif;
  /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  background-color: #E5E5CB;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  background-color: #3C2A21;
  margin-bottom: 10%;
  font-family: 'Taviraj', serif;
  border-radius: 10%;
  border-spacing: 10em;
  padding: 2.5%;
}

h1#titulo {
  color: #D5CEA3;
  font-family: 'Taviraj', serif;
}

nav {
  background-color: #A88669;
  padding: .25em;
  align-items: center;
}

nav a {
  padding: .25%;
  color: #f1ddcd;
}

a:visited {
  color: #441F01;
}

a {
  color: #3C2A21;
}

figure,
div#libros,
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

article p {
  background-color: #A88669;
  border-radius: .5em;
}

fieldset {
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  background-size: cover;
  margin: 5% 2% 15% 5%;
  font-family: "sans-serif";
}

#enviar {
  font-family: 'Taviraj', serif;
  font-size: 1em;
  background-color: #D2B48C;
  border: none;
  color: #FFFFFF;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #441F01;
}
#enviar:hover{
  background-color: #8B4513;
}